<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CSV Analyzer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JK"
      crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mb-5">CSV Analyzer</h1>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="csv_data">Upload your CSV file:</label>
          <input type="file" name="csv_data" id="csv_data" accept=".csv" required class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.js"
      integrity="sha384-PJ33oLNY8Wn1eyzv1CUZc2wZnzw8Wx/Yeirv1Y+XQvp0VwnzFtNyLJ77u+g5M5xl"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgoumWgXq5g6QP3uxmPxWpWMoSv/wTGxt5nkpgeVqnC3qWQ2jh7X9zRXQ2n7BhCk"
      crossorigin="anonymous"></script>
  </body>
</html>
